# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxx
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxx

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "dYQA6BNp+fEw9qj8HeM0/xVz8sC8Te4Bn5+j0Ut9lILSUFShgvW5u7snldDk/YdFZrNGrk7ENZVLV/iPuJIvL5rMQ+nUeOKkuRM0oCmm/rTPV67eLPRrxHE6k9XjQ27ffrkznsOYupCwB159B/E/sO1kgp9DijcN7W4umLuZTFGroZAxMLXJ46RFFiFtOFrmTaTqqI46glaP+xAwXpUzL2vm2BmoEGqCK+fjJ8pUOgw2IeWDdHic5F8srlb26Dcy7vbSH7b4X+jhKPEBm9Y9OQK7WHxB6rZjbLUSuFilyL54YmYLuO7RnJENbOog/l5eVU+Y+5L9AsrO0fst7vgQ8BZunqnR9tds83dzrCmqFz+hjPG+7iW6d03ZAdbiuzyeMtlhjsNLkJ7GPwe2y0UwBRdOuOvWYo8b5WTYbwdCzhRB2wghqoCt1Upvfxtlnnw4QHPffrAtIkFr015Mm/vNXXJJ8s1WC74ByMnzWYbz5Gs1GiOG4yf/ZqKFrlnZxsYoHeu+yK5Cj/QfcLIyQds1lS5weXM0ZURUEVrwujTbPh50gr9QY+Faa8Uxz9B0SxwW5L8d6N5iGWJ8XglFyBYyJycKRgQtbZjWlfU+A1QNpdZJJLj744QUWy0TwJIyyhfuvPYcxWkLGg88X3BXWOY+E59Wccq42L2Iu/cX7tu1v3I="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
